@font-face{
	font-family: "Shorelines Script Bold";
	src:  url("fonts/Shorelines Script Bold.otf");
}

#header{
	border-radius: 25px;
	background-position: left top;
	background-repeat: repeat;
	padding: 20px;
	width: auto;
	height: 350px;
	opacity: 0.7;
}
h1{
	padding-top: 0px;
	margin-top: 0px;
	font-family: 'DM Serif Display', serif;
}
body{
	background-color:#edd0a6;
	margin-top: 0px;
}
#content{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#menu_logo{
	width: auto;
	height: 50px;
	float: left;
}

#navbar{
	box-shadow: 0px 2px 10px #777;
	display:  flex;
	justify-content: space-between;
	background-color:#afe37b;
	font-family: 'Calistoga', cursive;
}

#stamp{
	display: flex;
}

#navbar a {
	text-decoration: none;
	background-color:#afe37b;
	width:  150px;
	height:  50px;
	line-height:  50px;
	text-align:  center;
	display: block;
	color: black;
	border-bottom:  2px solid #FFF;
}

#navbar a:hover, #navbar #active-nav{
	color: #8a7e70;
	border-bottom: 2px solid #8a7e70;
}

#navbar ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#navbar li{
	width: 150px;
	position: relative;
	background-color: #D6D8BC;
	font-family: 'Calistoga', cursive;
}

#navbar > ul{
	display: flex;
	align-items: flex-start;
}

#navbar > ul ul{
	position: absolute;
	display: none;
}

#navbar li:hover > ul{
	display: block;
}

#footer {
	background-color: #a0a485;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin-top: 0px;
	font-family: 'Merriweather', serif;
}

#navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

html{
	scroll-behavior: smooth;
}

@media (max-width: 991px) {

	#content{
		width: auto;
	}

	#navbar{
		position:static;
		justify-content:normal;
		width:auto;
	}
	
	#stamp {
		display:none;
	}
	
}
